<h1>Calendar for <%= @user.first_name + " " + @user.last_name %></h1>

<p>Here is the information:</p>

<ul>
    <% @section.each do |s|  %>
        <li><%=	 Course.find_by_id(s.course_id).name %></li>
    <% end %>
</ul>