<script type="text/javascript">
//    var course_classes;
//
//    $(document).ready(function()
//    {
//        course_classes = ["courseA", "courseB", "courseC", "courseD", "courseE"];
//        get_section_events_pairs();
//    });
//
//    function get_section_events_pairs()
//    {
//        $.getJSON("<%= calendar_get_section_events_pairs_path %>", function(data)
//        {
//            for(var i=0; i < data.length; i++)
//            {
//                var temp_section = Object.keys(data[i])[0];
//                var temp_events = data[i][temp_section];
//
//                for(var j=0; j < temp_events.length; j++)
//                {
//                    $("body").append("<div section_id='" + temp_events[j].section_id + "' class='" + course_classes[i] + "' event_id='" + temp_events[j].event_id + "' end_month='" + temp_events[j].end_month + "' end_day='" + temp_events[j].end_day + "' end_year='" + temp_events[j].end_year + "'>" + temp_events[j].title + "</div>");
//                }
//            }
//        });
//    }
</script>

<style>
  .courseA
  {
      background-color: #ff7f50;
  }
  .courseB
  {
      background-color: #5f9ea0;
  }

  .courseC
  {
      background-color: #adff2f;
  }

  .courseD
  {
      background-color: #afeeee;
  }

  .courseE
  {
      background-color: #ffd700;
  }

  table td
  {
      vertical-align:text-top;
      background: #f5f5dc;
  }
</style>

<h1 style="text-align: center;">Whiteboard ... or something</h1>

<table style="margin-left: auto; margin-right: auto;">
    <% 5.times do |row| %>
      <tr style="height:100px;">
        <% 7.times do |column| %>
            <td style="width:150px" id="">
              <%= @calendar_start_day.day %>
              <% @sections_and_events.select { |se| se[:end_date].day == @calendar_start_day.day }.each do |se| %>
              <div class="<%= se[:course_name] %>"><%= link_to se[:event_title], :controller => "events", :action => "show", :event_id => se[:event_id], :section_id => se[:section_id] %></div>
              <% end %>
            </td>
            <% @calendar_start_day += 1.day %>
        <% end %>
      </tr>
    <% end %>
</table>