<script type="text/javascript">
    $(document).ready(function()
    {
        get_section_events_pairs();
    });

    function get_section_events_pairs()
    {
        $.getJSON("<%= calendar_get_section_events_pairs_path %>", function(data)
        {
            alert(data);
        });
    }
</script>

<table>
    <% 5.times do |row| %>
      <tr style="height:100px;">
        <% 7.times do |column| %>
            <td style="width:100px">
              <%= @calendar_start_day.day %>
            </td>
            <% @calendar_start_day += 1.day %>
        <% end %>
      </tr>
    <% end %>
</table>