<h1>Calendar for <%= @user.first_name + " " + @user.last_name %></h1>

<p>Here is the information:</p>

<ul>
  <% @sections_events_names.each do |section, events| %>
      <li>
        <%= "#{section.to_s}" %>
          <ul>
              <% events.each do |event| %>
                  <li>
                    <%= "#{event.to_s}" %>
                  </li>
              <% end %>
          </ul>
      </li>
  <% end %>
</ul>