<table>
  <% @unassigned_events.each do |course, events| %>
  <tr style="height:100px">
    <td><%= course.name %></td>
    <% events.each do |event| %>
    <td style="width:100px">
      <%= event.title %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>