<script type="text/javascript">

    $(document).ready(function()
    {
        get_dragon_drop_data();
    });
    function get_unassigned_events()
    {
        $.getJSON("<%=dragon_drop_get_unassigned_events_path%>", function(data)
        {
            for(var i = 0; i < data.length; i++)
            {
                var temp_section = parseInt(Object.keys(data[i])[0]);
                var temp_events = data[i][temp_section];

                for(var j=0; j < temp_events.length; j++)
                {
                    $("body").append("<div id='" + temp_section + "' class='" + temp_events[j] + " " + course_classes[i] + "'>" + "</div>");
                }
            }
        });
    }

</script>